<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!" style="font-size: 24px;">ProfanityAPI.com</a>
        <div class="float-right">
          <a class="mx-2" target="_blank" href="https://discord.gg/HJfUWMqkC5"><img style="height: 40px;" src="../../assets/img/discord-svgrepo-com.svg" alt=""></a>
          <a class="mx-2" target="_blank" href="https://github.com/aktikerem/profane-api"><img style="height: 35px;" src="../../assets/img/github-142-svgrepo-com.svg" alt=""></a>
          <a class="mx-2" target="_blank" href="https://github.com/aktikerem/profane-api"><img style="height: 40px;" src="../../assets/img/youtube-svgrepo-com.svg" alt=""></a>

        </div>
    </div>
</nav>
